.contact {
    display: flex;
    margin: 4rem 14rem;
    justify-content: space-between;        
    .left {
      .title {
        align-items: flex-start;
        .bar {
          height: 0.5rem;
          width: 5rem;
          background: var(--gradient);
          margin-bottom: 1rem;
          
        }
        p {
          text-align: left;
        }
      }
      .title__container {
        margin-bottom: 2rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        color: rgb(153, 153, 153);
        margin-bottom: 1.5rem;
        li {
          display: flex;
          gap: 1rem;
          transition: 0.5s ease-in-out;
          &:hover {
            @include gradientText;
            cursor: pointer;
          }
        }
      }      
      
    }
    .right {
      img {
        height: 30rem;
        width: 26rem;
        object-fit: cover;
      }
    }
    
  }