footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //gap: 5rem;
    background-color: #181818;
    padding: 2rem 14rem;
    color: rgb(129, 128, 128);
    .section {
      h2 {
        @include gradientText;
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .social {
        flex-direction: row;
        margin-top: 1rem;
        gap: 1rem;
        i {
          font-size: 1.2rem;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        li {
          display: flex;
          gap: 1rem;
          transition: 0.5s ease-in-out;
          &:hover {
            @include gradientText;
            cursor: pointer;
          }
        }
      }      
    }
  }
  
  .lower__footer {
    color: rgb(129, 128, 128);
    display: flex;
    justify-content: center;
    padding: 1rem 14rem;
  }