.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  height: 80vh;
  
  a {
    text-decoration: none;
    color: white;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    gap: 2rem;
    .title {
      h1 {
        @include gradientText;        
        font-size: 5rem;
      }
      h2 {
        color: white;
      }
    }
  }
  .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img{
          max-height: 400px;
          width: 80%;
          animation: animate 2s ease-in-out infinite alternate-reverse both;
          object-fit:contain;
      }
  }

  @keyframes animate{
    0% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(-10px);
  }

  }

  button {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
}
