.languages {
    .container {
      display: flex;
      justify-content: center;
      gap: 4rem;
      .language {
        h3 {
          display: flex;
          justify-content: center;
          font-weight: normal;
        }
        img {
          height: 7rem;
          filter: brightness(0) invert(1);
          transition: 0.5s ease-in-out;
          &:hover {
            filter: none;
          }
        }
        // &:nth-of-type(4) {
        //   img {
        //     filter: grayscale(100) invert(1);
        //     transition: 0.5s ease-in-out;
        //     &:hover {
        //       filter: none;
        //     }
        //   }
        // }
      }
    }
  }